<?xml version="1.0" encoding="UTF-8"?>
<web-app>

<servlet>
	<servlet-name>SingleServlet</servlet-name>
	<servlet-class>edu.hyd.servlet.MyServlet</servlet-class>
</servlet>

<servlet-mapping>
	<servlet-name>SingleServlet</servlet-name>
	<url-pattern>/linkurl</url-pattern>
</servlet-mapping>

<display-name>LinksApp</display-name>

<welcome-file-list>
	<welcome-file>linksPage.html</welcome-file>
</welcome-file-list>

</web-app>