<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

     <bean id="tourList1" class="edu.hyd.beans.TourList">
    	<property name="places">
    		<list>
    			<value>Delhi</value>
    			<value>Mumbai</value>
    		</list>
    	</property>
    </bean>
    
 <!--      <bean id="tourList2" class="edu.hyd.beans.TourList">
    	 <property name="places">
    	 	<list>
    	 		<value>New York</value>
    	 		<value>Los Angeles</value>
    	 	</list>
    	 </property>
    </bean>
  -->

  <!--   <bean id="travelAgent" class="edu.hyd.beans.TravelAgent" autowire="constructor"/>  
 	
 		If single bean class object : Inject that class in the target class
 		If two bean object of same type, it will give no error but return the "null" object   			
    	and Executes Default 0 param Constructor   
  -->  
  
 <!--  <bean id="travelAgent" class="edu.hyd.beans.TravelAgent" autowire="constructor">  
  			<constructor-arg ref="tourList1"/>  	
  	    </bean>
 		
 		Executes : 1 param constructor and inject the bean class object of specified reference. 
 -->
 
  <bean id="travelAgent" class="edu.hyd.beans.TravelAgent" autowire="byType"/>
 <!--
 Error :	Since there are two beans with the same object type i.e. tourList1,tourList2
  			it will throw an error "Expected single matching but Found 2" 
 -->    			
 
 <context : component-scan base-package="edu.hyd"></context>
 	  	    	   
</beans>
