<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="tourList1" class="edu.hyd.beans.TourList">
    	<property name="places">
    		<list>
    			<value>Delhi</value>
    			<value>Mumbai</value>
    		</list>
    	</property>
    </bean>
    
     <bean id="tourList2" class="edu.hyd.beans.TourList">
    	 <property name="places">
    	 	<list>
    	 		<value>New York</value>
    	 		<value>Los Angeles</value>
    	 	</list>
    	 </property>
    </bean>


  <!--   <bean id="travelAgent" class="edu.hyd.beans.TravelAgent" autowire="constructor"/>  
  			
  			Executes Default 0 param Constructor, returns null object   
  -->  
  
 <!--  <bean id="travelAgent" class="edu.hyd.beans.TravelAgent" autowire="constructor">  
  			<constructor-arg ref="tourList1"/>  	
  	    </bean>
 	Executes 1 param constructor and inject the bean object of given reference 
 -->
 
 <bean id="travelAgent" class="edu.hyd.beans.TravelAgent" autowire="byType"/>    				  	   
 	    
</beans>
